/* Custom Black and Pink Theme */
.bg-black {
    background-color: #000000 !important;
}

.text-pink {
    color: #ff69b4 !important; /* Pink text color */
}

.nav-link {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff69b4; /* Pink underline color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.hover-scale {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-scale:hover {
    transform: scale(1.1); /* Scales the text to 110% on hover */
  }


  
  

/* Button Styling */
.btn-pink-gradient {
    background: transparent;
    border: pink solid 2px;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.1s ease;
    box-shadow: 0 4px 6px rgba(255, 105, 180, 0.3); 
}

.btn-pink-gradient:hover {

    box-shadow: white 0 0 20px; /* White glow effect */
    background: linear-gradient(45deg, #ff69b4, #ceaabd); /* Pink gradient */
}

/* Textbox Focus Effects */
.form-control:focus {
    border-color: #ff69b4;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5); /* Pink glow effect */
}
